* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.search-bar {
    border: none;
    outline: none;
    width: 250px;
    font-size: 16px;
    background-color: white;
}

.search-bar::placeholder {
    font-size: 16px;
    color: rgb(203, 121, 8);
}

.category-btn {
    font-weight: bold !important;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    padding: 7px 15px;
    margin: 10px 0;
    gap: 5px;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.category-btn:hover {
    background-color: rgba(253, 29, 29, 1) !important;
    color: white !important;
}

.category-btn:hover span {
    color: white !important;
}

::-webkit-scrollbar {
    width: 0;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(203, 121, 8) !important;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
.react-player {
    height: 77vh !important;
    width: 100% !important;
}

@media screen and (max-width: 576px) {
    .search-bar {
        width: 75% !important;
    }
    .react-player {
        height: 45vh !important;
    }

}
